<div class="row card-group">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
        <!-- Each product row contains info of 3 elements -->
        {% for stock in page._embedded.stockResponseList %}
            <div class="col mb-4">
                {% include 'stockPrice/stockPriceCard.njk' %}
            </div>
        {% endfor %}
    </div>
</div>
    {{ page.page | dump }}
{% if userContext %}
    <a class="btn btn-outline-primary col" id="reportLink" href="stockData/report?page={{ page.page.number }}&size={{ page.page.size }}">
    Get Data as Report</a>
{% endif %}

{% include 'includes/pagingController.njk' %}