<tr>
    <td>{{ stockCode }}</td>
    <td>{{ stockDetails.price }}</td>
    <td>{{ stockDetails.averagePurchase }}</td>
    <td>{{ stockDetails.quantity }}</td>
    <td>{{ stockDetails.quantity * stockDetails.price }}</td>
    <td>
        <div class="btn-group" style="width:100%" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-primary" disabled="disabled">Buy</button>
            <button type="button" class="btn btn-secondary">Sell</button>
        </div>
    </td>
</tr>