<tr>
    <td>{{ stockCode }}</td>
    <td>£{{ stockDetails.currentPrice/100 }}</td>
    <td>£{{ stockDetails.averagePurchase/100 }}</td>
    <td>{{ stockDetails.quantity }}</td>
    <td>£{{ stockDetails.quantity * stockDetails.currentPrice/100 }}</td>
    <td>
        <div class="btn-group" style="width:100%" role="group" aria-label="Basic example">
            <a class="btn btn-outline-primary col" id="BuyButton" href="transaction/?stock={{ stockCode }}">Buy</a>
            <a class="btn btn-outline-primary col" id="SellButton"href="transaction/?stock={{ stockCode }}">Sell</a>
        </div>
    </td>
</tr>