{% extends "layout.njk" %}
{% block css %}
	{{ super() }}
	<link href="stylesheets/responsiveCardGroup.css" type="text/css" rel="stylesheet" >
{% endblock %}
{% block content %}
    <script src="javascripts/renderPortfolio.js"></script>
    <script >
        beginPolling();
    </script>
    <div class = "container">
        <div class = "row"><div class="col py-md-3 pl-md-5 bd-content" id="portfolioDisplay"></div></div>
        <div class = "row"><a class="btn btn-outline-primary col" id="reportLink" href="portfolio/report">
            Get Data as Report</a>
        </div>
    </div>
{% endblock %}